body {
  width: 60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 20vh 20vw 20vh 20vw;
  justify-content: space-around;
  font-family: sans-serif;
  font-size: 1.5vw;
}
img {
  width: 50vw;
}
