<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#003f19" />
    <meta
      name="apple-mobile-web-app-title"
      content="Nutrimentum Lifestyle Consulting"
    />
    <meta name="application-name" content="Nutrimentum Lifestyle Consulting" />
    <meta name="msapplication-TileColor" content="#003f19" />
    <meta name="theme-color" content="#003f19" />
    <title>Nutrimentum Lifestyle Consulting</title>
    <link rel="stylesheet" href="normalize.minify.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <img alt="Nutrimentum Lifestyle Consulting" src="Nutrimentum.svg" />
    <article>
      <p>
        Jill Knopoff is a Registered Dietitian and Nutritionist with over 25
        years of experience working with various health conditions. Jill's main
        philosophy is to start at the beginning with each client. When a client
        is met where they are, changes small and large can be made to arrive at
        a determined destination. There isn't any one particular diet or
        protocol. Each person is an individual and requires a personalized
        nutrition plan.
      </p>
      <hr />
      <p>
        Leave a message at
        <a href="javascript:window.location.href=atob('dGVsOjIwMzU1MDMyODY=')"
          >203-550-4386</a
        >
        or
        <a
          href="javascript:window.location.href=atob('bWFpbHRvOmVhdHNtYXJ0ZXJ0b2RheUBnbWFpbC5jb20=')"
          >email me</a
        >
        anytime!
      </p>
    </article>
  </body>
</html>
